<!DOCTYPE html>
<html lang="en">
<head>




    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-83806060-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-83806060-4');
    </script>

    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '264044924241408');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=264044924241408&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->



    <meta charset="utf-8" />
    <title>@Page.Title - Akira Web Solutions</title>
    <link async href="~/Content/themes/base/minified/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <link async href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <meta name="viewport" content="width=device-width" />



</head>

<body>
    <!-- Global site tag (gtag.js) - Facebook Comments -->
    <div id="fb-root"></div>
    <script>
(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <style>
        ul.sitemap {
            display: inline-block
        }

        a:active, a:hover, a:link, a:visited {
            color: #fff
        }

        .footersocial {
            text-align: center;
            max-height: 100%
        }
    </style>
    <section class="navigation">
        <section id="login" style="display:inline-block;">
            @if (WebSecurity.IsAuthenticated)
            {
                <text>
                    Hello, <a class="email" href="~/Account/Manage" title="Manage">@WebSecurity.CurrentUserName</a>!
                    <form id="logoutForm" action="~/Account/Logout" method="post">
                        @AntiForgery.GetHtml()
                        <a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
                    </form>
                </text>
            }
            else
            {
                @*<ul>
                    <li><a href="~/Account/Register">Register</a></li>
                    <li><a href="~/Account/Login">Log in</a></li>
                </ul>*@
            }
        </section>
        <div class="nav-container">
            <div class="brand">


                <img src="~/Images/AkiraLogoMock4.jpg" alt="Akira Logo" style="width:124px;" class="flash" />

            </div>

            <nav>
                <div class="nav-mobile"><a id="nav-toggle" href="#!" title="Expand"><span></span></a></div>
                <ul class="nav-list">
                    <li>
                        <a href="~/Default" title=" Home - SEO, Website Design, Website Building">Home</a>
                    </li>
                    <li>
                        <a href="~/About" title="About Our Website Design Team">About</a>
                    </li>
                    <li>
                        <a href="#!" title="Expand">Services</a>
                        <ul class="nav-dropdown">
                            <li>
                                <a href="~/WebDevelopment" title="Website Development Information">Website Development</a>
                            </li>
                            <li>
                                <a href="~/WebDevelopment#Responsive Web Design" title="Responsive Website Design Information">Responsive Website Design</a>
                            </li>

                            <li>
                                <a href="~/WebDevelopment#SEO" title="SEO Website Information">Search Engine Optimization</a>
                            </li>
                            <li>
                                <a href="~/WebDevelopment#ASP" title="ASP.NET Website Information">ASP.NET VS. Wordpress</a>
                            </li>
                            <li>
                                <a href="~/WebDevelopment#SSL" title="SSL Website Information">SSL Certificate</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="~/Blog/Timeline" title="Our Blog">Blog</a>
                    </li>
                    <li>
                        <a href="~/Pricing" title="Pricing Information">Pricing</a>
                    </li>
                    
                    <li>
                        <a href="~/WebDevelopmentPortfolio" title="Previous Work And Current Clients">Work</a>
                    </li>
                    
                    @*<li>
                        <a href="#!" title="Expand">Portfolio</a>
                        <ul class="nav-dropdown">

                            <li>
                                <a href="~/WebDevelopmentPortfolio" title="Previous Work And Current Clients">Website Development</a>
                            </li>
                            <li>
                                <a href="https://github.com/akira796" title="Previous Work And Current Clients" target="_blank">Our GitHub</a>
                            </li>
                        </ul>
                    </li>*@
                    <li>
                        <a href="~/FAQ" title="Commonly Asked Questions & Answers">FAQ</a>
                    </li>
                    <li>
                        <a href="~/Contact" title="Contact Information for Website Services">Contact</a>
                    </li>
                    @*<li><a href="tel:+16027771105" title="Call Now For Website Design"><img src="~/Images/Phonepng_32x32.png" style="max-width:32px; vertical-align:middle;" alt="Phone" />(602) 777-1105</a></li>*@

                </ul>

            </nav>

        </div>

    </section>


    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
            <div style="margin:0;">
                <hr />
                <p class="textSection" style=" color:white; background:rgba(0,0,0,.3); font-size:16px; max-width:80%; margin:auto;">
                   
                    Akira Web Solutions is an established web development company in Arizona &amp; Colorado, with clients throughout the US.

                    Call us for Website Design, Development, Hosting, SSL Certification and Responsive Website Design for mobile-friendly websites.

                    Don't pay for over priced web designers when you can have the professional quality and national experience right here for less with Akira Web Solutions.
                </p>

            </div>
        </section>
    </div>
    <footer>

      
        <div class="footersocial" style="display:inline-block; width:100%;">
            <div class="footer-section-1">
                <ul class="sitemap">
                    <li>
                        <a href="~/Default" title=" Home - SEO, Website Design, Website Building">Home</a>
                    </li>
                    <li>
                        <a href="~/About" title="About Our Website Design Team">About</a>
                    </li>
                    <li>
                        <a href="~/WebDevelopment" title="About Our Website development">Web Development</a>
                    </li>
                    <li>
                        <a href="~/WebDevelopment#Responsive Web Design" title="About Our Responsive Website Design">Responsive Website Design</a>
                    </li>
                </ul>
                <ul class="sitemap">
                    <li>
                        <a href="~/WebDevelopment#SEO" title="About Our Website SEO">Search Engine Optimization</a>
                    </li>
                    <li>
                        <a href="~/Pricing" title="About Our Website Pricing">Pricing</a>
                    </li>
                    <li>
                        <a href="~/WebDevelopmentPortfolio" title="view our previous work and current clients">Portfolio</a>
                    </li>
                    <li>
                        <a href="~/Contact" title="Contact Information for Website Serices">Contact</a>
                    </li>
                </ul>
                <ul class="sitemap">
                    <li>
                        <a href="~/WebDevelopment#ASP" title="About Our Website coded in ASP.NET">ASP.NET VS. Wordpress</a>
                    </li>
                    <li>
                        <a href="~/FAQ" title="Commonly asked website questions and answers">FAQ</a>
                    </li>
                    <li>
                        <a href="~/Blog/BlogLandingPage.cshtml" title="Akira Web Solutions blog">Blog</a>

                    </li>

                </ul>
            </div>
            <div class="footer-section-2">
                <span>&copy; @DateTime.Now.Year - Akira Web Solutions. Made with CSS3, HTML5, C#, Javascript, and SQL. </span>
            </div>
            <div class="footer-section-3">
                <div class="fb-like" data-href="https://www.facebook.com/AkiraWebSolutions/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true" style="bottom:5px;"></div>
                <br />
                <a href="https://twitter.com/Akira_WebDev?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow &#64;Akira_WebDev</a>
                <br />
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <br />
                <script src="//platform.linkedin.com/in.js" type="text/javascript">    lang: en_US</script>
            <script type="IN/FollowCompany" data-id="18527891" data-counter="top">
            </script>
                <a href="https://www.instagram.com/akira_web_solutions/" title="our instagram">


                    <img src="~/Images/instagram_64x64.png" style="vertical-align:top;" alt="Instagram" />
                </a>
            </div>

        </div>

    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>


<script async src="~/Scripts/jquery-ui-1.10.3.min.js"></script>
<script async src="~/Scripts/modernizr-2.6.2.min.js"></script>

@* Nav Script *@
<script>!function (n) { n(function () { n("nav ul li a:not(:only-child)").click(function (i) { n(this).siblings(".nav-dropdown").toggle(), n(".nav-dropdown").not(n(this).siblings()).hide(), i.stopPropagation() }), n("html").click(function () { n(".nav-dropdown").hide() }), n("#nav-toggle").click(function () { n("nav ul").slideToggle() }), n("#nav-toggle").on("click", function () { this.classList.toggle("active") }) }) }(jQuery);</script>
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

